@charset "UTF-8";
*{
    padding:0;
    margin: 0;
    
}

body{
    background: rgb(109, 109, 250);
    font: normal 15pt Arial;
    
}
header{
    text-align: center;
    color: white;
}
section{
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 3px;
    width: 500px;
    height: 300px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.425);
    text-align: center;
}
p{
    color: black;
    text-align: center;
    
}
p#footer{
    color: white;
}
div > img#foto{
    background-color: black;
    width: 500px;
    height: 130px;
    color: white;
   
}


div#msg{
    
    font-size: 15pt;
}

footer{
   text-align: center;
   font-style: italic;
   padding: 10px;
}